input, select {
  display:block;
  margin-bottom: 10px;
}

ul {
  padding : 0;
  text-align: center;
  margin: auto;
}

li {
  list-style-type: none;
}

h5 {
  margin-bottom: 30px;
}

.results-display {
  display: none;
}

.card {
  padding: 0px;
}

.card-header {
  width: 100%;
  font-size: 24px;
  /* font-weight: bold; */
}

/* #bet-form {
  display: none;
} */

.bet-container {
  text-align: center;
}

.bet-container h2 {
  border-bottom: 3px solid black;
}

img[src="imgs/add-icon.png"] {
  float: right;
  width: 60px;
  position: relative;
  top: -35px;
}
