/* ******** NON-MOBILE STYLES (*********) */
@media only screen and (min-width: 600px) {

  .container-fluid {
    min-height: 100%;
  }

  html {
    font-size: 18px;
  }

  label {
  position: relative;
  top: 2px;
  }

  h1 {
    font-size: 5rem;
  }

   .bet-container h2 {
    font-size: 2rem;
  }


}

/* ******** MOBILE FIRST DEFAULT STYLES (*********) */

html {
  font-size: 21px;
}

.container-fluid {
  padding-top: 20px;
}


input, select {
  /* display:block; */
  margin-bottom: 10px;

}

/* ********** INPUT BORDER ON MOBILE ******** */
textarea, input, select {
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* ***** FULL WIDTH INPUTS ON BET FORM */
#bet-form textarea, #bet-form input, #bet-form select  {
    width: 100%;
}


ul {
  padding : 0;
}

li {
  list-style-type: none;
  width: 100%;
}

h6.card-title {
  margin-bottom: 0px;
}

.results-display {
  display: none;
}

.card {
  padding: 0px 0px 20px 0px;
  text-align: left;

}

p.card-text {
  margin-bottom: .5rem;
}

.card-header {
  width: 100%;
  font-size: 36px;
}

h1, h2, h3 {
  font-family: 'Fontdiner Swanky', cursive;
}

h2 {
  font-size: 1.5rem;
}


.bet-container {
  margin-top: 90px;
  text-align: center;
}

.bet-container h2 {
  border-bottom: 3px solid black;
}

img[src="imgs/add-icon.png"] {
  float: right;
  width: 60px;
  /* position: relative;
  top: -38px; */
}


.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.card-body > * {
  margin-bottom: 20px;
}

.bet-user-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.bet-user-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

.bet-user-container img {
  width: 50px;
  border-radius: 50%;
  display: block;
}

.button-row  {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


.bet-descrip {
  font-size: 1.25rem;
}
